{% set __PAGE__ = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ path('admin_template_stylesheets') }}" />

        {{ hook("header", __PAGE__) }}

        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body class="page_{{ __PAGE__ }}">
        <!-- BEGIN PAGE HEADER -->
        {{ hook("displayHeader", __PAGE__) }}
        <!-- END PAGE HEADER -->

        <!-- BEGIN PAGE CONTENT -->
        <section class="container-fluid">
            <section class="row">
                <!-- BEGIN PAGE NAVIGATION -->
                <section class="col-md-2">
                    {{ hook("displayNavigation", __PAGE__) }}
                </section>
                <!-- END PAGE NAVIGATION -->

                <!-- BEGIN PAGE CONTENT MAIN -->
                <section class="col-md-10">
                    <nav>
                        {{ hook("displayContentTop", __PAGE__) }}
                    </nav>

                    <section>
                        {{ hook("displayContentMain", __PAGE__) }}
                    </section>
                </section>
                <!-- END PAGE CONTENT MAIN -->
            </section>
        </section>
        <!-- END PAGE CONTENT -->
    </body>

    <script type="text/javascript" src="{{ path('admin_template_javascripts') }}"></script>

    <!-- BEGIN CUSTOM JAVASCRIPTS -->
    {{ hook("javascripts", __PAGE__) }}
    <!-- END CUSTOM JAVASCRIPTS -->
</html>
