<div class="pre-footer mt20">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.</p>

                <div class="photo-stream">
                    <h2>Photos Stream</h2>
                    <ul class="list-unstyled">
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/people/img5-small.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img1.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/people/img4-large.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img6.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img3.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/people/img2-large.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img2.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img5.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/people/img5-small.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img1.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/people/img4-large.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img6.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img3.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/people/img2-large.jpg') }}"></a></li>
                        <li><a href="javascript:;"><img alt="" src="{{ asset('templates/front/img/pages/works/img2.jpg') }}"></a></li>
                    </ul>
                </div>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->

            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Our Contacts</h2>
                <address class="margin-bottom-40">
                    35, Lorem Lis Street, Park Ave<br>
                    California, US<br>
                    Phone: 300 323 3456<br>
                    Fax: 300 323 1456<br>
                    Email: <a href="mailto:info@metronic.com">info@metronic.com</a><br>
                    Skype: <a href="skype:metronic">metronic</a>
                </address>

                <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
                    <h2>Newsletter</h2>
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="youremail@mail.com" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END BOTTOM CONTACTS -->

            <!-- BEGIN TWITTER BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2 class="margin-bottom-0">Latest Tweets</h2>
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 520px; height: 716.562px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px;" data-widget-id="455411516829736961" title="Twitter Timeline"></iframe>
            </div>
            <!-- END TWITTER BLOCK -->
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-4 col-sm-4 padding-top-10">
                2015 © Keenthemes. ALL Rights Reserved. <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <div class="col-md-4 col-sm-4">
                <ul class="social-footer list-unstyled list-inline pull-right">
                    <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li>
                </ul>
            </div>
            <!-- END PAYMENTS -->
            <!-- BEGIN POWERED -->
            <div class="col-md-4 col-sm-4 text-right">
                <p class="powered">Powered by: <a href="http://www.keenthemes.com/">KeenThemes.com</a></p>
            </div>
            <!-- END POWERED -->
        </div>
    </div>
</div>
